body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-dark {
    background-color: rgb(169, 158, 158);
}

.body-light {
    background-color: rgb(255, 255, 255);
}

main {
    width: 85%;
    max-width: 750px;
    min-height: 500px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 40px 0;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

.main-dark {
    background-color: rgb(81, 81, 81);
}

.main-light {
    background-color: rgb(234, 228, 228);
}


.wrapper {
    width: 85%;
    background-color: inherit;
    margin: 25px 0;
    position:relative;


}

input {
    padding: 10px;
    margin: 5px;
    font-size: large;
}

input[type="checkbox"] {
    margin: 10px;
}

li {
    border: 1px dotted black;
    font-size: x-large;
    line-height: 150%;
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listDisplay-dark {
    color: rgb(255, 255, 255);
}

.listDisplay-light {
    color: rgb(0, 0, 0);
}

.hoverClass {
    color: rgb(107, 40, 40);
}

.strikethrough {
    text-decoration: line-through;
}

#editing {
    background-color: transparent;
    border: none;
    border-collapse: collapse;
    font-size: xx-large;
    padding: 0;
}

.remove {
    cursor: pointer;
}

.not-priority {
    display: none;
}

.priority {
    display: block;
    color: red;
}

#info4 {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 20px;
    width: 30%;
    position: absolute;
    top: -50px;
    right: -50px;
}

.hidden {
    display: none;
}