div {
    text-align: center;
    
}

.basic-nav-list {
    list-style-type: none; 
    padding: 10px 10px;
}

.nav-box {
    background-color: black;
}

nav {
    color: white;
    display: flex;   
    align-items: center;
    justify-content: center;
}

a:visited {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: yellow;
    text-decoration: dashed;
}

li {
    padding: 10px 10px;
}